<launch>

    <arg name="ns" default=""/>
    <arg name="enable_debug"    default="false"/>
    <arg name="input_cloud_topic" default="/points"/>
    <arg name="main_cloud_topic" default="/main_cloud"/>
    <arg name="cost_cloud_topic" default="/cost_cloud"/>
    <arg name="cost_norm_cloud_topic"  default="/cost_norm_cloud"/>
    <arg name="fixed_frame_id" default="map"/>
    <arg name="enable_rviz" default="true"/>
    <!-- <arg name="pub_viz" default="true"/> -->

    <arg name="preanalysis/dsFlag" default="true"/>
    <arg name="preanalysis/dsResolution" default="0.05"/>
    <arg name="preanalysis/neNeighMethod" default="0"/>
    <arg name="preanalysis/neSearchNeighbours" default="24"/>
    <arg name="preanalysis/neSearchRadius" default="0.2"/>
    <arg name="preanalysis/gpFlag" default="true"/>
    <arg name="preanalysis/gpAngle" default="1.0"/>
    <arg name="preanalysis/pfActive" default="false"/>
    <arg name="preanalysis/pfAngle" default="20.0"/>
    <arg name="preanalysis/fsActive" default="false"/>
    <arg name="preanalysis/fsAngle" default="30.0"/>
    <arg name="preanalysis/fsRange" default="0.05"/>
    <arg name="preanalysis/rob_x" default="0.0"/>
    <arg name="preanalysis/rob_y" default="0.0"/>
    <arg name="preanalysis/rob_z" default="0.0"/>
    <arg name="preanalysis/robAngle" default="0.0"/>
    <arg name="preanalysis/dsMethod" default="false"/>
    <arg name="preanalysis/neMethod" default="0"/>
    <arg name="segmentationmode" default="0"/>
    <arg name="regiongrowing/minClustSize" default="30"/>
    <arg name="regiongrowing/noNeigh" default="24"/>
    <arg name="regiongrowing/smoothFlag" default="false"/>
    <arg name="regiongrowing/smoothThresh" default="50.0"/>
    <arg name="regiongrowing/resFlag" default="true"/>
    <arg name="regiongrowing/resThresh" default="0.08"/>
    <arg name="regiongrowing/curvFlag" default="false"/>
    <arg name="regiongrowing/curvThresh" default="0.1"/>
    <arg name="regiongrowing/updateFlag" default="true"/>
    <arg name="regiongrowing/pointUpdateFlag" default="true"/>
    <arg name="regiongrowing/updateInterval" default="100"/>

    <arg name="costmap/normal_gain" default="2.0"/>
    <arg name="costmap/curv_gain" default="10.0"/>
    <arg name="costmap/min_saturation_cost" default="0.0"/>
    <arg name="costmap/max_saturation_cost" default="0.1"/>
    <arg name="costmap/set_min_saturation_cost_to_min_cost" default="false"/>
    <arg name="costmap/set_max_saturation_cost_to_max_cost" default="false"/>

    <arg name="launch_prefix" default="gdb -ex run --args" if="$(eval arg('enable_debug'))"/>
    <arg name="launch_prefix" default="" unless="$(eval arg('enable_debug'))"/>

    <arg name="curvy_terrain_mapper_name"     default="curvy_terrain_mapper"           if="$(eval ns=='')"/>
    <arg name="curvy_terrain_mapper_name"     default="curvy_terrain_mapper_$(arg ns)"     unless="$(eval ns=='')"/>
    <node pkg="curvy_terrain_mapper" type="curvy_terrain_mapper_node" name="$(arg curvy_terrain_mapper_name)" output="log" respawn="true" launch-prefix="$(arg launch_prefix)">
        <remap from="~input_cloud" to="$(arg input_cloud_topic)"/>
        <remap from="~main_cloud" to="$(arg main_cloud_topic)"/>
        <remap from="~cost_cloud" to="$(arg cost_cloud_topic)"/>
        <remap from="~cost_norm_cloud" to="$(arg cost_norm_cloud_topic)"/>
        <param name="~fixed_frame_id" value="$(arg fixed_frame_id)"/>
        <!-- <param name="~pub_viz" value="true"/> -->
        <param name="~preanalysis/dsFlag" value="$(arg preanalysis/dsFlag)"/>
        <param name="~preanalysis/dsResolution" value="$(arg preanalysis/dsResolution)"/>
        <param name="~preanalysis/neNeighMethod" value="$(arg preanalysis/neNeighMethod)"/>
        <param name="~preanalysis/neSearchNeighbours" value="$(arg preanalysis/neSearchNeighbours)"/>
        <param name="~preanalysis/neSearchRadius" value="$(arg preanalysis/neSearchRadius)"/>
        <param name="~preanalysis/gpFlag" value="$(arg preanalysis/gpFlag)"/>
        <param name="~preanalysis/gpAngle" value="$(arg preanalysis/gpAngle)"/>
        <param name="~preanalysis/pfActive" value="$(arg preanalysis/pfActive)"/>
        <param name="~preanalysis/pfAngle" value="$(arg preanalysis/pfAngle)"/>
        <param name="~preanalysis/fsActive" value="$(arg preanalysis/fsActive)"/>
        <param name="~preanalysis/fsAngle" value="$(arg preanalysis/fsAngle)"/>
        <param name="~preanalysis/fsRange" value="$(arg preanalysis/fsRange)"/>
        <param name="~preanalysis/rob_x" value="$(arg preanalysis/rob_x)"/>
        <param name="~preanalysis/rob_y" value="$(arg preanalysis/rob_y)"/>
        <param name="~preanalysis/rob_z" value="$(arg preanalysis/rob_z)"/>
        <param name="~preanalysis/robAngle" value="$(arg preanalysis/robAngle)"/>
        <param name="~preanalysis/dsMethod" value="$(arg preanalysis/dsMethod)"/>
        <param name="~preanalysis/neMethod" value="$(arg preanalysis/neMethod)"/>
        <param name="~segmentationmode" value="$(arg segmentationmode)"/>
        <param name="~regiongrowing/minClustSize" value="$(arg regiongrowing/minClustSize)"/>
        <param name="~regiongrowing/noNeigh" value="$(arg regiongrowing/noNeigh)"/>
        <param name="~regiongrowing/smoothFlag" value="$(arg regiongrowing/smoothFlag)"/>
        <param name="~regiongrowing/smoothThresh" value="$(arg regiongrowing/smoothThresh)"/>
        <param name="~regiongrowing/resFlag" value="$(arg regiongrowing/resFlag)"/>
        <param name="~regiongrowing/resThresh" value="$(arg regiongrowing/resThresh)"/>
        <param name="~regiongrowing/curvFlag" value="$(arg regiongrowing/curvFlag)"/>
        <param name="~regiongrowing/curvThresh" value="$(arg regiongrowing/curvThresh)"/>
        <param name="~regiongrowing/updateFlag" value="$(arg regiongrowing/updateFlag)"/>
        <param name="~regiongrowing/pointUpdateFlag" value="$(arg regiongrowing/pointUpdateFlag)"/>
        <param name="~regiongrowing/updateInterval" value="$(arg regiongrowing/updateInterval)"/>
        <param name="~costmap/normal_gain" value="$(arg costmap/normal_gain)"/>
        <param name="~costmap/curv_gain" value="$(arg costmap/curv_gain)"/>
        <param name="~costmap/min_saturation_cost" value="$(arg costmap/min_saturation_cost)"/>
        <param name="~costmap/max_saturation_cost" value="$(arg costmap/max_saturation_cost)"/>
        <param name="~costmap/set_min_saturation_cost_to_min_cost" value="$(arg costmap/set_min_saturation_cost_to_min_cost)"/>
        <param name="~costmap/set_max_saturation_cost_to_max_cost" value="$(arg costmap/set_max_saturation_cost_to_max_cost)"/>
    </node>

    <arg name="rviz_name"     default="rviz"           if="$(eval ns=='')"/>
    <arg name="rviz_name"     default="rviz_$(arg ns)"     unless="$(eval ns=='')"/>
    <node pkg="rviz" type="rviz" name="$(arg rviz_name)" output="log" if="$(arg enable_rviz)"
    args="-d $(find curvy_terrain_mapper)/curvy_terrain_mapper.rviz"/>

</launch>
