<launch>
    <param name="use_sim_time"          value="true"/>

    <arg name="enable_rosbag"           default="false"/>
    <!-- EDGAR 2021-02-23, ROUGH PATCH 1 -->
    <arg name="rosbag_files"            default="/media/mike/MIKEMDATA2/2021_02_23_Edgar/2021_02_23_edgar_H01/H01_sensors* /media/mike/MIKEMDATA2/2021_02_23_Edgar/2021_02_23_edgar_H01/H01_tf*"/> 
    <arg name="rosbag_args"             default="--clock --pause --start=650 $(arg rosbag_files)"/> 

    <arg name="vehicle_name"            default="H01"/>
    <arg name="enable_rviz"             default="false"/>
    <arg name="enable_debug"            default="false"/>
    <!-- <arg name="enable_ctm"              default="true"/> -->
    <arg name="enable_octomap"          default="true"/>
    <arg name="enable_marble_mapping"   default="false"/>
    <arg name="enable_inner_crop"       default="true"/>
    <arg name="enable_outer_crop"       default="false"/>

    <node pkg="rosbag" type="play" name="bag_player" output="screen" args="$(arg rosbag_args)" launch-prefix="bash -c 'sleep 10; $0 $@'" if="$(arg enable_rosbag)"/>

    <include file="$(find curvy_terrain_mapper)/launch/subt_demo3.launch">
        <arg name="vehicle_name"          value="$(arg vehicle_name)"/>
        <arg name="enable_rviz"           value="$(arg enable_rviz)"/>
        <arg name="enable_debug"          value="$(arg enable_debug)"/>
        <!-- <arg name="enable_ctm"            value="$(arg enable_ctm)"/> -->
        <arg name="enable_octomap"        value="$(arg enable_octomap)"/>
        <arg name="enable_marble_mapping" value="$(arg enable_marble_mapping)"/>
        <arg name="enable_inner_crop"     value="$(arg enable_inner_crop)"/>
        <arg name="enable_outer_crop"     value="$(arg enable_outer_crop)"/>
    </include>

    <param name="robot_description" command="$(find xacro)/xacro '$(find marble_common)/urdf/marble_husky_cave_liosam.urdf.xacro' use_nominal_extrinsics:=true" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
        <remap from="robot_description" to="robot_description"/>
    </node>

</launch>
