<launch>
    <!-- <param name="use_sim_time" value="true"/> -->
    <!-- <param name="use_system_time" value="true"/> -->

    <arg name="enable_rosbag"   default="true"/>
    <arg name="rosbag_file"     default="$(env HOME)/subt_tap_team2.bag"/>
    <!-- <arg name="rosbag_file"     default="/media/mike/MIKEMDATA/2021_02_06_cu_south/H01_sensors_tf_2021-02-06-15.bag"/>  -->

    <arg name="enable_debug" default="false"/>
    <arg name="enable_ctm" default="true"/>
    <arg name="enable_octomap" default="true"/>
    <arg name="enable_marble_mapping" default="false"/>
    <arg name="enable_crop" default="false"/>
    <arg name="octomap_resolution" default="0.2"/>
    <arg name="range" default="20.0"/>

    <arg name="enable_bag_comms" default="true"/>
    <arg name="enable_rviz_X1" default="true"/>
    <arg name="enable_rviz_X2" default="false"/>

    <arg name="enable_traversability"           default="true" />
    <arg name="enable_traversability_sharing"   default="true" />

    <node pkg="rosbag" type="play" name="bag_player" output="log" if="$(arg enable_rosbag)"  launch-prefix="bash -c 'sleep 15   ; $0 $@'"
    args="-l $(arg rosbag_file) "/>

    <include file="$(find curvy_terrain_mapper)/launch/subt_demo.launch">
        <arg name="vehicle_name" value="X1"/>
        <arg name="enable_debug" value="$(arg enable_debug)"/>
        <!-- <arg name="enable_rviz" value="$(arg enable_rviz_X1)"/> -->
        <arg name="enable_ctm" value="$(arg enable_ctm)"/>
        <arg name="enable_octomap" value="$(arg enable_octomap)"/>
        <arg name="enable_marble_mapping" value="$(arg enable_marble_mapping)"/>
        <arg name="enable_crop" value="$(arg enable_crop)"/>
        <arg name="octomap_resolution" value="$(arg octomap_resolution)"/>
        <arg name="range" value="$(arg range)"/>
        <arg name="enable_traversability"           value="$(arg enable_traversability)" />
        <arg name="enable_traversability_sharing"   value="$(arg enable_traversability_sharing)" />
    </include>
    <include file="$(find marble_multi_agent)/launch/multi_agent_virtual.launch">
        <arg name="vehicle" value="X1"/>
        <arg name="potentialNeighbors" value="X2"/>
    </include>
    <include file="$(find marble_virtual_comms)/launch/marble_virtual_comms.launch" if="$(eval enable_marble_mapping and not enable_bag_comms)">
        <arg name="vehicle" value="X1"/>
    </include>
    <node pkg="rviz" type="rviz" name="rviz_X1" output="log" if="$(arg enable_rviz_X1)" 
    args="-d $(find curvy_terrain_mapper)/curvy_terrain_mapper_X1.rviz"/>
    <include file="$(find pcl_ros_toolbox)/launch/approx_time_concatenate_server.launch">
        <arg name="ns"                value="X1"/>
        <arg name="input0_topic"      value="X1/points" />
        <arg name="input1_topic"      value="X1/front_down_rgbd_camera/depth/points" />
        <arg name="input2_topic"      value="X1/front_down_rgbd_camera/depth/points" />
        <arg name="output_topic"      value="X1/octomap_in" />
        <arg name="output_resolution" value="$(arg octomap_resolution)"/>
		<arg name="common_frame_id"   value="X1/map"/>
		<arg name="min_rate"          value="4"/>
		<!-- <arg name="sync_queue_size"   value="$(arg sync_queue_size)"/>
		<arg name="sub_queue_size"    value="$(arg sub_queue_size)"/> -->
    </include>

    <!-- <include file="$(find curvy_terrain_mapper)/launch/subt_demo.launch">
        <arg name="vehicle_name" value="X2"/>
        <arg name="enable_debug" value="$(arg enable_debug)"/>
        <arg name="enable_ctm" value="$(arg enable_ctm)"/>
        <arg name="enable_octomap" value="$(arg enable_octomap)"/>
        <arg name="enable_marble_mapping" value="$(arg enable_marble_mapping)"/>
        <arg name="enable_crop" value="$(arg enable_crop)"/>
        <arg name="octomap_resolution" value="$(arg octomap_resolution)"/>
        <arg name="range" value="$(arg range)"/>
        <arg name="enable_traversability"           value="$(arg enable_traversability)" />
        <arg name="enable_traversability_sharing"   value="$(arg enable_traversability_sharing)" />
    </include>
    <include file="$(find marble_multi_agent)/launch/multi_agent_virtual.launch">
        <arg name="vehicle" value="X2"/>
        <arg name="potentialNeighbors" value="X1"/>
    </include>
    <include file="$(find marble_virtual_comms)/launch/marble_virtual_comms.launch" if="$(eval enable_marble_mapping and not enable_bag_comms)">
        <arg name="vehicle" value="X2"/>
    </include>
    <node pkg="rviz" type="rviz" name="rviz_X2" output="log" if="$(arg enable_rviz_X2)" 
    args="-d $(find curvy_terrain_mapper)/curvy_terrain_mapper_X2.rviz"/>
    <include file="$(find pcl_ros_toolbox)/launch/approx_time_concatenate_server.launch">
        <arg name="ns"                value="X2"/>
        <arg name="input0_topic"      value="X2/points" />
        <arg name="input1_topic"      value="X2/front_down_rgbd_camera/depth/points" />
        <arg name="input2_topic"      value="X2/front_down_rgbd_camera/depth/points" />
        <arg name="output_topic"      value="X2/octomap_in" />
        <arg name="output_resolution" value="$(arg octomap_resolution)"/>
		<arg name="common_frame_id"   value="X2/map"/>
		<arg name="min_rate"          value="4"/>
    </include> -->

    <group if="$(arg enable_marble_mapping)">
         <group if="$(arg enable_bag_comms)">
            <include file="$(find marble_mapping)/launch/merge_diffs.launch">
                    <arg name="frame_id"                 value="world"/>
                    <arg name="merged_resolution"        value="$(arg octomap_resolution)"/>
                    <arg name="publish_merged_full"      value="true"/>
                    <arg name="publish_point_cloud_diff" value="true"/>
                    <arg name="num_threads"              value="12"/>
                    <arg name="enable_traversability"           value="$(arg enable_traversability)" />
                    <arg name="enable_traversability_sharing"   value="$(arg enable_traversability_sharing)" />
            </include>
            <node pkg="topic_tools" name="map_relay" type="relay" args="/X1/map_diff /robot_data/X1/map_diff"/>
            <node pkg="topic_tools" name="ma_relay" type="relay" args="/X1/mesh_comm/send/ma_data /robot_data/X1/ma_data"/>
            <node pkg="topic_tools" name="map_relay2" type="relay" args="/X2/map_diff /robot_data/X2/map_diff"/>
            <node pkg="topic_tools" name="ma_relay2" type="relay" args="/X2/mesh_comm/send/ma_data /robot_data/X2/ma_data"/>

            <!-- <include file="$(find marble_multi_agent)/launch/multi_agent_virtual.launch">
                <arg name="vehicle" value="Base"/>
                <arg name="type" value="base"/>
                <arg name="potentialNeighbors" value="X1,X2"/>
            </include> -->
        </group>

        <group unless="$(arg enable_bag_comms)">
        </group>
     </group>


</launch>
