<launch>

  <arg name="config" default="solo"/>
  <arg name="enable_mapping" default="true"/>
  <arg name="enable_rough_mapping" default="false"/>
  <arg name="range" default="20.0"/>

  <include file="$(find marble_common)/launch/sim/subt.launch">
    <arg name="config" value="$(arg config)"/>
    <arg name="sensors" value="lite"/>
    <arg name="groundtruth" value="true"/>
  </include>

  <include file="$(find timed_roslaunch)/launch/timed_roslaunch.launch">
    <arg name="time"   value="15"/>
    <arg name="pkg"    value="marble_common"/>
    <arg name="file"   value="Base.launch"/>
    <arg name="value"  value="agents:='Base,X1' potentialNeighbors:='X1' enable_rviz:=false" unless="$(eval config=='team')"/>
    <arg name="value"  value="agents:='Base,X1,X2' potentialNeighbors:='X1,X2' enable_rviz:=false" if="$(eval config=='team')"/>
    <arg name="node_name" value="Base_timed_roslaunch"/>
  </include>

  <!-- <include file="$(find marble_common)/launch/sim/Base.launch">
      <arg name="agents"              value="Base X1"/>
      <arg name="potentialNeighbors"  value="X1"/>
      <arg name="enable_rviz"         value="false"/>
  </include> -->

  <include file="$(find timed_roslaunch)/launch/timed_roslaunch.launch">
    <arg name="time"   value="20"/>
    <arg name="pkg"    value="marble_common"/>
    <arg name="file"   value="X1.launch"/>
    <arg name="value"  value="vehicle_name:=X1
                              enable_localization:=true
                              enable_mapping:=$(arg enable_mapping)
                              enable_rough_mapping:=$(arg enable_rough_mapping)
                              enable_multi_agent:=true
                              enable_planning:=true
                              enable_control:=true
                              enable_artifacts:=false
                              enable_rviz:=true
                              motion_on_startup:=true
                              map_resolution:=0.15
                              merged_resolution:=0.15
                              mapping_range:=$(arg range)
                              planning_frame:=world
                              controlDelay:=0"/>
    <arg name="node_name" value="X1_timed_roslaunch"/>
  </include>

  <include file="$(find timed_roslaunch)/launch/timed_roslaunch.launch" if="$(eval config=='team')">
    <arg name="time"   value="25"/>
    <arg name="pkg"    value="marble_common"/>
    <arg name="file"   value="X2.launch"/>
    <arg name="value"  value="vehicle_name:=X2
                              enable_localization:=true
                              enable_mapping:=$(arg enable_mapping)
                              enable_rough_mapping:=$(arg enable_rough_mapping)
                              enable_multi_agent:=true
                              enable_planning:=true
                              enable_control:=true
                              enable_artifacts:=false
                              enable_rviz:=false
                              motion_on_startup:=true
                              map_resolution:=0.15
                              merged_resolution:=0.15
                              mapping_range:=$(arg range)
                              planning_frame:=world
                              controlDelay:=60"/>
    <arg name="node_name" value="X2_timed_roslaunch"/>
  </include>

    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="Toptical" args="0 0 0 -1.57 0 -1.57 X1/base_link/camera_down X1/base_link/camera_down_optical"/> -->

  <!-- <include file="$(find marble_common)/launch/sim/X1.launch">
      <arg name="enable_localization" value="true"/>
      <arg name="enable_mapping"      value="true"/>
      <arg name="enable_multi_agent"  value="true"/>
      <arg name="enable_planning"     value="true"/>
      <arg name="enable_control"      value="false"/>
      <arg name="enable_artifacts"    value="false"/>
      <arg name="enable_rviz"         value="false"/>
      <arg name="motion_on_startup" value="false"/>
  </include> -->

</launch>
