<launch>


     <include file="$(find carplanner_msgs)/launch/subt_sim.launch" >
         <arg name="config"               value="solo"/>
         <arg name="sensors"              value="camera"/>
         <arg name="launch_delay"         value="0"/>
         <arg name="enable_localization"  value="true"/>
         <arg name="localization_type"    value="0"/>
         <arg name="enable_mapping"       value="true"/>
         <arg name="enable_rough_mapping" value="true"/>
         <arg name="enable_multi_agent"   value="true"/>
         <arg name="enable_planning"      value="false"/>
         <arg name="enable_control"       value="false"/>
         <arg name="enable_artifacts"     value="false"/>
         <arg name="enable_rviz"          value="true"/>
         <arg name="motion_on_startup"    value="false"/>
     </include>
</launch>
