<launch>

  <param name="use_sim_time"  value="true"/>

  <arg name="models"              default="Husky"/>
  <arg name="config"              default="solo"/>
  <arg name="sensors"             default="lite"/>
  <arg name="groundtruth"         default="true"/>
  <arg name="remote_sim"          default="remote"/>
  <!-- <arg name="world"               default="urban_circuit_practice_02"/> -->
  <!-- <arg name="world"               default="cave_circuit_01"/> -->
  <!-- <arg name="world"               default="cave_circuit_practice_02"/> -->
  <arg name="world"               default="simple_cave_01"/>
  <!-- <arg name="world"               default="simple_cave_03"/> -->
  <!-- <arg name="world"               default="urban_practice_01"/> -->
  <arg name="agents"              default="X1,X2"/>

  <arg name="enable_localization" default="$(eval not groundtruth)"/>
  <arg name="enable_mapping"      default="1"/>
  <arg name="enable_multi_agent"  default="1"/>
  <arg name="enable_planning"     default="1"/>
  <arg name="enable_control"      default="1"/>
  <arg name="enable_artifacts"    default="0"/>
  <arg name="motion_on_startup"   default="1"/>
  <arg name="min_cluster_size"    default="50"/>
  <arg name="map_resolution"      default="0.15"/>
  <arg name="merged_resolution"   default="0.15"/>
  <arg name="mapping_range"       default="5.0"/>
  <arg name="planning_frame"      default="world"/>

<!-- LAUNCH SIM -->
  <include file="$(find marble_common)/launch/sim/subt.launch">
    <arg name="models"        value="$(arg models)"/>
    <arg name="config"        value="$(arg config)"/>
    <arg name="sensors"       value="$(arg sensors)"/>
    <arg name="groundtruth"   value="$(arg groundtruth)"/>
    <arg name="remote_sim"    value="$(arg remote_sim)"/>
    <arg name="world"         value="$(arg world)"/>
  </include>

<!-- LAUNCH BASE STATION -->
  <include file="$(find timed_roslaunch)/launch/timed_roslaunch.launch">
    <arg name="time"   value="15"/>
    <arg name="pkg"    value="marble_common"/>
    <arg name="file"   value="Base.launch"/>
    <arg name="value"  value="agents:='Base,X1' potentialNeighbors:='X1' enable_rviz:=false" unless="$(eval config=='team')"/>
    <arg name="value"  value="agents:='Base,X1,X2' potentialNeighbors:='X1,X2' enable_rviz:=false" if="$(eval config=='team')"/>
    <arg name="node_name" value="Base_timed_roslaunch"/>
  </include>

  <!-- <include file="$(find marble_common)/launch/sim/Base.launch">
      <arg name="agents"              value="Base X1"/>
      <arg name="potentialNeighbors"  value="X1"/>
      <arg name="enable_rviz"         value="false"/>
  </include> -->

  <!-- LAUNCH X1 -->
  <include file="$(find timed_roslaunch)/launch/timed_roslaunch.launch">
    <arg name="time"   value="20"/>
    <arg name="pkg"    value="marble_common"/>
    <arg name="file"   value="ground.launch"/>
    <arg name="value"  value="
      vehicle_name:=X1
      vehicle_type:=Husky
      agents:=$(arg agents)
      enable_localization:=$(arg enable_localization)
      enable_mapping:=$(arg enable_mapping)
      enable_multi_agent:=$(arg enable_multi_agent)
      enable_planning:=$(arg enable_planning)
      enable_control:=$(arg enable_control)
      enable_artifacts:=$(arg enable_artifacts)
      enable_rviz:=0
      is_air:=0
      motion_on_startup:=$(arg motion_on_startup)
      min_cluster_size:=$(arg min_cluster_size)
      map_resolution:=$(arg map_resolution)
      merged_resolution:=$(arg merged_resolution)
      mapping_range:=$(arg mapping_range)
      planning_frame:=$(arg planning_frame)
      world:=$(arg world)
      "/>
    <arg name="node_name" value="X1_timed_roslaunch"/>
  </include>

<!-- LAUNCH X2 -->
  <include file="$(find timed_roslaunch)/launch/timed_roslaunch.launch" if="$(eval config=='team')">
    <arg name="time"   value="25"/>
    <arg name="pkg"    value="marble_common"/>
    <arg name="file"   value="ground.launch"/>
    <arg name="value"  value="
      vehicle_name:=X2
      vehicle_type:=Husky
      agents:=$(arg agents)
      enable_localization:=$(arg enable_localization)
      enable_mapping:=$(arg enable_mapping)
      enable_multi_agent:=$(arg enable_multi_agent)
      enable_planning:=$(arg enable_planning)
      enable_control:=$(arg enable_control)
      enable_artifacts:=$(arg enable_artifacts)
      enable_rviz:=0
      is_air:=0
      motion_on_startup:=$(arg motion_on_startup)
      min_cluster_size:=$(arg min_cluster_size)
      map_resolution:=$(arg map_resolution)
      merged_resolution:=$(arg merged_resolution)
      mapping_range:=$(arg mapping_range)
      planning_frame:=$(arg planning_frame)
      world:=$(arg world)
      "/>
    <arg name="node_name" value="X2_timed_roslaunch"/>
  </include>

    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="Toptical" args="0 0 0 -1.57 0 -1.57 X1/base_link/camera_down X1/base_link/camera_down_optical"/> -->

  <!-- <include file="$(find marble_common)/launch/sim/X1.launch">
      <arg name="enable_localization" value="true"/>
      <arg name="enable_mapping"      value="true"/>
      <arg name="enable_multi_agent"  value="true"/>
      <arg name="enable_planning"     value="true"/>
      <arg name="enable_control"      value="false"/>
      <arg name="enable_artifacts"    value="false"/>
      <arg name="enable_rviz"         value="false"/>
      <arg name="motion_on_startup" value="false"/>
  </include> -->

</launch>
