<launch>

    <arg name="enable_debug" default="false"/>
    <arg name="enable_ctm" default="true"/>
    <arg name="enable_octomap" default="true"/>
    <arg name="enable_marble_mapping" default="false"/>
    <arg name="enable_crop" default="true"/>
    <arg name="octomap_resolution" default="0.2"/>
    <arg name="range" default="20.0"/>

    <arg name="enable_rviz_X1" default="false"/>
    <arg name="enable_rviz_X2" default="false"/>

    <include file="$(find curvy_terrain_mapper)/launch/subt_demo.launch">
        <arg name="vehicle_name" value="X1"/>
        <arg name="enable_debug" value="$(arg enable_debug)"/>
        <arg name="enable_rviz" value="$(arg enable_rviz_X1)"/>
        <arg name="enable_ctm" value="$(arg enable_ctm)"/>
        <arg name="enable_octomap" value="$(arg enable_octomap)"/>
        <arg name="enable_marble_mapping" value="$(arg enable_marble_mapping)"/>
        <arg name="enable_crop" value="$(arg enable_crop)"/>
        <!-- <arg name="fixed_frame_id" value="$(arg fixed_frame_id)"/> -->
        <!-- <arg name="child_frame_id" value="$(arg child_frame_id)"/> -->
        <!-- <arg name="input_cloud_topic" value="$(arg input_cloud_topic)"/> -->
        <arg name="octomap_resolution" value="$(arg octomap_resolution)"/>
        <arg name="range" value="$(arg range)"/>
    </include>

    <include file="$(find curvy_terrain_mapper)/launch/subt_demo.launch">
        <arg name="vehicle_name" value="X2"/>
        <arg name="enable_debug" value="$(arg enable_debug)"/>
        <arg name="enable_rviz" value="$(arg enable_rviz_X2)"/>
        <arg name="enable_ctm" value="$(arg enable_ctm)"/>
        <arg name="enable_octomap" value="$(arg enable_octomap)"/>
        <arg name="enable_marble_mapping" value="$(arg enable_marble_mapping)"/>
        <arg name="enable_crop" value="$(arg enable_crop)"/>
        <!-- <arg name="fixed_frame_id" value="$(arg fixed_frame_id)"/> -->
        <!-- <arg name="child_frame_id" value="$(arg child_frame_id)"/> -->
        <!-- <arg name="input_cloud_topic" value="$(arg input_cloud_topic)"/> -->
        <arg name="octomap_resolution" value="$(arg octomap_resolution)"/>
        <arg name="range" value="$(arg range)"/>
    </include>

</launch>
