<launch>

  <param name="use_sim_time"  value="true"/>


  <arg name="models"        default="Husky"/>
  <arg name="config"        default="solo"/>
  <arg name="sensors"       default="lite"/>
  <arg name="groundtruth"   default="true"/>
  <arg name="remote_sim"    default="remote"/>
  <arg name="world"         default="simple_cave_01"/>

    <!-- vehicle_name:=X1
    vehicle_type:=Husky
    agents:=X1,X2
    enable_localization:=$(eval not groundtruth)
    enable_mapping:=1
    enable_multi_agent:=1
    enable_planning:=1
    enable_control:=1
    enable_artifacts:=0
    enable_rviz:=0
    is_air:=0
    motion_on_startup:=1
    min_cluster_size:=50
    map_resolution:=0.15
    merged_resolution:=0.15
    mapping_range:=5.0
    planning_frame:=world -->
  <arg name="enable_localization" default="$(eval not groundtruth)"/>

  <include file="$(find marble_common)/launch/sim/subt.launch">
    <arg name="models"        value="$(arg models)"/>
    <arg name="config"        value="$(arg config)"/>
    <arg name="sensors"       value="$(arg sensors)"/>
    <arg name="groundtruth"   value="$(arg groundtruth)"/>
    <arg name="remote_sim"    value="$(arg remote_sim)"/>
    <arg name="world"         value="$(arg world)"/>
  </include>

  <include file="$(find timed_roslaunch)/launch/timed_roslaunch.launch">
    <arg name="time"   value="15"/>
    <arg name="pkg"    value="marble_common"/>
    <arg name="file"   value="Base.launch"/>
    <arg name="value"  value="agents:='Base,X1' potentialNeighbors:='X1' enable_rviz:=false" unless="$(eval config=='team')"/>
    <arg name="value"  value="agents:='Base,X1,X2' potentialNeighbors:='X1,X2' enable_rviz:=false" if="$(eval config=='team')"/>
    <arg name="node_name" value="Base_timed_roslaunch"/>
  </include>

  <!-- <include file="$(find marble_common)/launch/sim/Base.launch">
      <arg name="agents"              value="Base X1"/>
      <arg name="potentialNeighbors"  value="X1"/>
      <arg name="enable_rviz"         value="false"/>
  </include> -->

  <include file="$(find timed_roslaunch)/launch/timed_roslaunch.launch">
    <arg name="time"   value="20"/>
    <arg name="pkg"    value="marble_common"/>
    <arg name="file"   value="ground.launch"/>
    <arg name="value"  value="
      vehicle_name:=X1
      vehicle_type:=Husky
      agents:=X1,X2
      enable_localization:=$(arg enable_localization)
      enable_mapping:=1
      enable_multi_agent:=1
      enable_planning:=1
      enable_control:=1
      enable_artifacts:=0
      enable_rviz:=0
      is_air:=0
      motion_on_startup:=1
      min_cluster_size:=50
      map_resolution:=0.15
      merged_resolution:=0.15
      mapping_range:=5.0
      planning_frame:=world
      world:=$(arg world)
      "/>
    <arg name="node_name" value="X1_timed_roslaunch"/>
  </include>

  <include file="$(find timed_roslaunch)/launch/timed_roslaunch.launch" if="$(eval config=='team')">
    <arg name="time"   value="25"/>
    <arg name="pkg"    value="marble_common"/>
    <arg name="file"   value="ground.launch"/>
    <arg name="value"  value="
      vehicle_name:=X2
      vehicle_type:=Husky
      agents:=X1,X2
      enable_localization:=1
      enable_mapping:=1
      enable_multi_agent:=1
      enable_planning:=1
      enable_control:=1
      enable_artifacts:=0
      enable_rviz:=0
      is_air:=0
      motion_on_startup:=1
      min_cluster_size:=50
      map_resolution:=0.15
      merged_resolution:=0.15
      mapping_range:=5.0
      planning_frame:=world
      world:=simple_cave_01
      "/>
    <arg name="node_name" value="X2_timed_roslaunch"/>
  </include>

    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="Toptical" args="0 0 0 -1.57 0 -1.57 X1/base_link/camera_down X1/base_link/camera_down_optical"/> -->

  <!-- <include file="$(find marble_common)/launch/sim/X1.launch">
      <arg name="enable_localization" value="true"/>
      <arg name="enable_mapping"      value="true"/>
      <arg name="enable_multi_agent"  value="true"/>
      <arg name="enable_planning"     value="true"/>
      <arg name="enable_control"      value="false"/>
      <arg name="enable_artifacts"    value="false"/>
      <arg name="enable_rviz"         value="false"/>
      <arg name="motion_on_startup" value="false"/>
  </include> -->

</launch>
